<!DOCTYPE html>
<html lang="ru">
  <head>
    {%- block metas -%}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- endblock metas -%}
    {%- block title -%}
      <title>{{- request.app.config.get(
        'SITE_NAME') -}}: {% block title_part %}{% endblock title_part %}
      </title>
    {%- endblock title -%}
    {%- block styles -%}
      <link rel="icon"
            href="{{ url_for('favicon') }}"
            type="image/vnd.microsoft.icon">
      {%- assets filters='cssmin', output='generic/css/vendor.css',
                 'vendor/bootstrap/css/bootstrap.css',
                 'vendor/bootstrap/css/bootstrap-theme.css' -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
      {%- endassets -%}
    {%- endblock styles -%}
    {%- block templates -%}
      <script id="pmalertt" type="text/template">
        <% ^flashed %>
        <div class="top-flashed-block">
          <div class="flashed-message">
            <div class="flashed-alert">
              У Вас есть непрочитанные <a href="/pm/">приватные сообщения</a>.
            </div>
          </div>
        </div>
        <% /flashed %>
        <% #flashed %>
        <div class="flashed-message">
          <div class="flashed-alert">
            У Вас есть непрочитанные <a href="/pm/">приватные сообщения</a>.
          </div>
        </div>
        <% /flashed %>
      </script>
      <script id="ealertt" type="text/template">
        <div id="ealert" class="flashed-error to-be-hidden">
          <%{ message }%>
        </div>
      </script>
    {%- endblock templates -%}
  </head>
  <body>
    <nav id="navigation" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"
             href="{{ url_for('index') }}">
            <img alt="logo"
                 src="{{ url_for('static', path='images/logo.png') }}"
                 width="28"
                 height="28">
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ request.app.config.get('SITE_NAME') }} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ url_for('blogs:blogs') }}">Авторы</a>
                </li>
                <li>
                  <a href="{{ url_for('arts:arts') }}">Темы</a>
                </li>
                {%- if cu -%}
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="{{ url_for('people:people') }}">Люди</a>
                  </li>
                  {%- if cu['last_published'] -%}
                    <li>
                      <a href="{{ url_for(
                          'blogs:blog', username=cu['username']) }}">
                        Своё
                      </a>
                    </li>
                  {%- endif -%}
                  <li>
                    <a href="{{ url_for('arts:lenta') }}">В ленте</a>
                  </li>
                  {%- if cu['weight'] >= 250 -%}
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="{{ url_for('arts:carts') }}">Закрытое</a>
                    </li>
                  {%- endif -%}
                {%- endif -%}
              </ul>
            </li>
            {% if cu and cu['weight'] >= 55 -%}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Инструменты <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{ url_for('aliases:aliases') }}">Ссылки</a>
                  </li>
                  {%- if cu['weight'] >= 100 -%}
                    <li>
                      <a href="{{ url_for('drafts:drafts') }}">Черновики</a>
                    </li>
                  {%- endif -%}
                  {%- if cu['weight'] >= 100 -%}
                    <li role="separator" class="divider"></li>
                  {%- endif -%}
                  {%- if cu['weight'] >= 150 -%}
                    <li>
                      <a href="{{ url_for('pictures:albums') }}">Картинки</a>
                    </li>
                  {%- endif -%}
                  {%- if cu['weight'] >= 100 -%}
                    <li>
                      <a href="{{ url_for('announces:announces') }}">
                        Объявления
                      </a>
                    </li>
                  {%- endif -%}
                </ul>
              </li>
            {%- endif -%}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              {%- if cu -%}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img alt="avatar"
                       src="{{ cu.get('ava') }}"><span
  class="cu-name">{{ cu.get('username') }}</span><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a id="profilel" href="{{ url_for(
                      'people:profile', username=cu.username)}}">Профиль</a>
                  </li>
                  {%- if cu['weight'] > 45 -%}
                    <li>
                      <a href="{{ url_for('pm:conversations') }}">
                        Приваты
                      </a>
                    </li>
                  {%- endif -%}
                  <li role="separator" class="divider"></li>
                  <li>
                    <a id="logout" href="/?realm=logout">Выйти</a>
                  </li>
                  <li>
                    <a id="logout-all" href="/?realm=logoutall">Выйти везде</a>
                  </li>
                </ul>
              {%- else -%}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Действия <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a id="login" href="/?realm=login">Войти</a>
                  </li>
                  <li>
                    <a id="reg" href="/?realm=reg">Получить пароль</a>
                  </li>
                </ul>
              {%- endif -%}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="page-content">
      <div id="main-container"
           class="{% if listed %}listed{% else %}nonlisted{% endif %}"
           style="width: 800px;">
        {%- if flashed -%}
          <div class="top-flashed-block">
            {%- for message in flashed -%}
            <div class="flashed-message">
              <div class="flashed-alert closeable"
                   title="close">
                {{ message|safe }}
              </div>
            </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
        {%- block page_body -%}{%- endblock page_body -%}
      </div>
    </div>
    <footer id="footer">
      <div class="container-fluid">
        <div class="footer-block"></div>
        <div class="footer-content">
          <div class="footer-left text-left">
            <img alt="right finger"
                 src="{{ url_for('static', path='images/footer-left.png') }}"
                 width="24"
                 height="24">
          </div>
          <div class="footer-center text-center">
            <a id="footer-link"
               href="{{ url_for('index') }}">
              {{ request.app.config.get('SITE_NAME') }}
            </a>
          </div>
          <div class="footer-right text-right">
            <img alt="left finger"
                 src="{{ url_for('static', path='images/footer-right.png') }}"
                 width="24"
                 height="24">
          </div>
          <div class="footer-bottom"></div>
        </div>
      </div>
    </footer>
    {%- block scripts -%}
      {%- assets filters='rjsmin', output='generic/js/vendor-pub.js',
                 'vendor/clipboard.js',
                 'vendor/jquery.js',
                 'vendor/luxon.js',
                 'vendor/bootstrap/js/bootstrap.js',
                 'vendor/mustache.js',
                 'vendor/spark-md5.js',
                 'js/custom.js' -%}
        <script src="{{ ASSET_URL }}"></script>
      {%- endassets -%}
    {%- endblock scripts -%}
  </body>
</html>
