{% extends "base.html" %}

{%- block title_part -%}
  Сайт для ведения текстовых блогов
{%- endblock title_part -%}

{%- block metas -%}
  {{- super() -}}
  <meta name="description"
        content="{{ request.app.config.get('SITE_DESCRIPTION') }}">
{%- endblock metas -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/main/index.css',
             'css/base.css',
             'css/main-container.css',
             'css/flashed-alert.css',
             'css/empty-message.css',
             'css/today-field.css',
             'css/content-block.css',
             'css/entity-block.css',
             'css/entity-text-block.css',
             'css/pygments.css',
             'css/next-block.css',
             'css/index.css' -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets -%}
  <link rel="canonical" href="{{ url_for('index') }}">
{%- endblock styles -%}

{%- block page_body -%}
  {%- if art -%}
    <div id="topic" class="content-block entity-block">
      <h1 title="{{ art['title'] }}">
        {{ art['title'] }}
      </h1>
      <div id="art-date-field" class="date-field">
        {{ art['edited'] }}
      </div>
      <div class="text-block entity-text-block">
        {{ art['html']|safe }}
      </div>
      <div id="admin-sign-block">
        <img alt="avatar" src="{{ url_for(
        'ava', username=art['author'], size=32)}}">{{ art.author}} 
      </div>
    </div>
  {%- else -%}
    <div id="idef"
         class="flashed-alert page-block">
      <div class="today-field"></div>
      <div class="empty-message">
        Сайт в стадии разработки, попробуйте зайти позже.
      </div>
    </div>
  {%- endif -%}
{%- endblock page_body -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let cu="{{ cu.username }}",logout={{ logout }},lall={{ lall }};</script>
  {%- assets filters='rjsmin', output='generic/js/main/index.js',
             'js/format-footer.js',
             'js/check-mc.js',
             'js/render-tf.js',
             'js/close-topflashed.js',
             'js/ping-user.js',
             'js/logout.js',
             'js/check-incomming.js',
             'js/format-datetime.js',
             'js/adjust-frame.js',
             'js/set-margin.js',
             'js/adjust-image.js',
             'js/click-image.js',
             'js/main/index.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
