{% extends "base.html" %}

{%- block title_part -%}ResetPWD{%- endblock title_part -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/main/resetpwd.css',
             'css/base.css',
             'css/main-container.css',
             'css/flashed-alert.css',
             'css/flashed-error.css',
             'css/today-field.css',
             'css/content-block.css',
             'css/form-help.css',
             'css/form-labeled.css' -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block templates -%}
  {{- super() -}}
  <script id="rspt" type="text/template">
    <div id="rspf" class="form-block content-block">
      <h1>Восстановите забытый пароль</h1>
      <div class="today-field"></div>
      <div class="form-help">
        <p>
          Уважаемый <% username %>, здесь Вы можете восстановить свой забытый
          пароль, для этого заполните форму ниже. Введите в соответствующие
          поля Ваш адрес электронной почты, на который Вы получили сообщение
          со ссылкой на эту страницу, придумайте и введите новый пароль,
          повторите его ввод в поле "Повторить" и нажмите кнопку "Обновить
          пароль", будьте внимательны, после обновления пароля Вы сможете
          войти в сервис только с новым паролем. Повторно запросить
          восстановление пароля можно будет не ранее чем через {{ interval }}
          часов.
        </p>
      </div>
      <div class="form-form">
        <form>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="rsaddress">Адрес эл.почты:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="rsaddress"
                     name="rsaddress"
                     placeholder="введите свой адрес электронной почты"
                     autocomplete="username"
                     required
                     type="text">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="rspassword">Новый пароль:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="rspassword"
                     name="rspassword"
                     placeholder="введите желаемый пароль"
                     autocomplete="new-password"
                     required
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="rsconfirm">Повторить:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="rsconfirm"
                     name="rsconfirm"
                     placeholder="повторите пароль"
                     autocomplete="new-password"
                     required
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-input">
              <button type="button"
                      class="btn btn-primary btn-block"
                      id="rsp-submit"
                      name="rsp-submit"
                      data-aid="<% aid %>">Обновить пароль</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>

{%- endblock templates -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let key="{{ key }}";</script>
  {%- assets filters='rjsmin', output='generic/js/main/resetpwd.js',
             'js/format-footer.js',
             'js/check-mc.js',
             'js/render-tf.js',
             'js/close-topflashed.js',
             'js/slide-page.js',
             'js/show-error.js',
             'js/main/resetpwd.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
