{% extends "base.html" %}

{%- block title_part -%}SetPWD{%- endblock title_part -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/main/setpwd.css',
             'css/base.css',
             'css/main-container.css',
             'css/flashed-alert.css',
             'css/flashed-error.css',
             'css/today-field.css',
             'css/content-block.css',
             'css/form-help.css',
             'css/form-labeled.css' -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block templates -%}
  {{- super() -}}
  <script id="crpt" type="text/template">
    <div id="crpf" class="form-block content-block">
      <h1>Создайте свой пароль</h1>
      <div class="today-field"></div>
      <div class="form-help">
        <p>
          Уважаемый гость, для создания пароля заполните форму ниже.
          Придумайте и введите в соответствующие поля желаемый псевдоним и
          пароль. Пароль нужно ввести второй раз в поле "Повторить".
          Псевдоним может содержать от 3-х до 16-ти символов (латинские
          буквы, буквы русского алфавита, цифры, знак подчёркивания, дефис и
          точка), первый символ псевдонима должен быть латинской или русской
          буквой. Нажмите кнопку "Создать пароль". Будьте внимательны,
          псевдоним и пароль Вам потребуются для входа в сервис, а восстановить
          пароль можно будет не ранее чем через {{ interval }} часов с момента
          запроса регистрационной формы.
        </p>
      </div>
      <div class="form-form">
        <form>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="username">Псевдоним:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="username"
                     name="username"
                     autocomplete="username"
                     placeholder="введите желаемый псевдоним"
                     required
                     type="text">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="crpassword">Пароль:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="crpassword"
                     name="crpassword"
                     placeholder="введите желаемый пароль"
                     autocomplete="new-password"
                     required
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="confirmation">Повторить:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="confirmation"
                     name="confirmation"
                     placeholder="повторите пароль"
                     required
                     autocomplete="new-password"
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-input">
              <button type="button"
                      class="btn btn-primary btn-block"
                      id="crp-submit"
                      name="crp-submit"
                      data-aid="<% aid %>">Создать пароль</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>
{%- endblock templates -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let key="{{ key }}";</script>
  {%- assets filters='rjsmin', output='generic/js/main/setpwd.js',
             'js/format-footer.js',
             'js/check-mc.js',
             'js/render-tf.js',
             'js/close-topflashed.js',
             'js/slide-page.js',
             'js/show-error.js',
             'js/main/setpwd.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
