DEBUG=True
ASSETS_DEBUG=False
DSN=
USER=jazz
DB=codejdev
REDI='redis://localhost:6379/0'
SECRET_KEY='secret key'
SESSION_LIFETIME=864000
SITE_NAME=CodeJ
SITE_DESCRIPTION='This is a sandbox for CodeJ'
