#page-content {
  padding: 4px 0 6px;
}

#main-container {
  margin-left: auto;
  margin-right: auto;
}

.nonlisted {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid gainsboro;
  background-image: linear-gradient(to top, ivory, ivory);
  box-shadow: 0 0 4px gainsboro;
}

.listed {
  padding: 0;
}
